build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    # complexity: 2
    # LongParameterList: 1
    # style: 1
    # comments: 1

complexity:
  active: true
  ComplexCondition:
    active: true
    threshold: 4
  LongParameterList:
    active: true
    functionThreshold: 10
    constructorThreshold: 10
  TooManyFunctions:
    active: true
    thresholdInFiles: 20
    thresholdInClasses: 20
    thresholdInInterfaces: 20
    thresholdInObjects: 20
    thresholdInEnums: 20

style:
  active: true
  MagicNumber:
    active: true
    ignoreNumbers: [-1, 0, 1, 2]
