build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    # complexity: 2
    # LongParameterList: 1
    # style: 1
    # comments: 1

complexity:
  active: true
  ComplexCondition:
    active: true
    threshold: 4
  LongParameterList:
    active: true
    functionThreshold: 10
    constructorThreshold: 10
  TooManyFunctions:
    active: true
    thresholdInFiles: 20
    thresholdInClasses: 20
    thresholdInInterfaces: 20
    thresholdInObjects: 20
    thresholdInEnums: 20

style:
  active: true
  MagicNumber:
    active: true
    ignoreNumbers: [-1, 0, 1, 2]
  WildcardImport:
    active: true
  MaxLineLength:
    active: true
    maxLineLength: 120

naming:
  active: true
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
  VariableNaming:
    active: true
    variablePattern: '[a-z][a-zA-Z0-9]*'

potential-bugs:
  active: true
  DuplicateCaseInWhenExpression:
    active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  InvalidRange:
    active: true
  UnreachableCode:
    active: true
